pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels
tensorflow
langgraph
pypdf
requests
pyMuPDF
SpeechRecognition
pyaudio
internetarchive
Pillow
torch
tf-keras
openai
transformers
dotenv
faiss-cpu
pymongo[srv]
boto3
streamlit
pdf2image
sentence-transformers